@import '../../../../variables.scss';

.theme-toggle {
  position: relative;
  width: 60px;
  height: 20px;
  border: none;
  border-radius: 20px;
  margin-right: 40px;
  background: $color-screen-bg;
}

.theme-toggle > div {
  position: relative;
  top: -5px;
  content: '';
  width: 30px;
  height: 30px;
  border: solid 2px $color-button-I;
  border-radius: 30px;
  background: $color-button-I;
  left: -3px;
  cursor: pointer;
}

.theme-light {
  .theme-toggle{
    background: $color-screen-bg-light;
  }

  .theme-toggle > div {
    border: solid 2px $color-button-I-light;
    background: $color-button-I-light;
    left: 34px;
  } 
}
