@import '../../../../variables.scss';

.theme-toggle {
  position: relative;
  width: 3rem;
  height: 1rem;
  border: none;
  border-radius: 20px;
  margin-right: 2rem;
  background: $color-screen-bg;
  cursor: pointer;
  user-select: none;  
  -webkit-tap-highlight-color: transparent;
}

.theme-toggle > div {
  position: relative;
  top: -5px;
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  border: solid 2px $color-button-I;
  border-radius: 30px;
  background: $color-button-I;
  left: -.1rem;
  cursor: pointer;
}

.theme-light {
  .theme-toggle{
    background: $color-screen-bg-light;
  }

  .theme-toggle > div {
    border: solid 2px $color-button-I-light;
    background: $color-button-I-light;
    left: 1.6rem;
  } 
}
