@import '../../variables.scss';

.keypad {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: $color-keypad-bg;
  border-radius: 30px;

  * {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;                              
  }
}

.keypad__line {
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
}

.keypad__first-line {
  justify-content: space-between;
  align-items: center;
  padding-left: .5rem;
}

.theme-light {
  .keypad {
    background: $color-keypad-bg-light;
  }
}