@import '../../variables.scss';

.screen {
  padding: 18px;
  // border: solid 2px black;
  border-radius: 30px;

  background: $color-screen-bg;
}

.screen__result {
  box-sizing: border-box;
  display: block;
  height: 30px;
  padding: 10px;
  text-align: right;
  color: $color-border;
}