@import '../../variables.scss';

.screen {
  padding: 1rem;
  border-radius: 30px;
  background: $color-screen-bg;

  @media (max-width: 450px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 0px;
  }
}

.screen__result {
  box-sizing: border-box;
  display: block;
  height: 2rem;
  padding: 1rem;
  text-align: right;
  color: $color-border;
}

.theme-light {
  .screen {
    background: $color-screen-bg-light;
  }

  .screen__result {
    color: $color-border-light;
  }
}