@import '../../variables.scss';

.screen {
  padding: 18px;
  border-radius: 30px;
  background: $color-screen-bg;
}

.screen__result {
  box-sizing: border-box;
  display: block;
  height: 30px;
  padding: 10px;
  text-align: right;
  color: $color-border;
}

.theme-light {
  .screen {
    background: $color-screen-bg-light;
  }
}