@import '../../../variables.scss';

.default-button {
  padding: .5rem;
  width: 2.7rem;
  height: 2.7rem;
  border: solid 2px $color-button-III;
  border-radius: 2.7rem;
  background: none;
  cursor: pointer;
  font-weight: bold;

  -webkit-tap-highlight-color: none;

  &:hover {
    box-shadow: 0 0 5px 2px $color-border;
    opacity: .7;
    outline: none;

    @media (max-width: 450px) {
      box-shadow: none;
    }
  }

  &:focus {
    outline: none;
  }
}

.default-button--function { 
  color: $color-button-II;
  background: $color-button-III;
  border: solid 2px $color-button-III;
}

.default-button--number { 
  color: $color-border;
  background: $color-button-IV;
  border: solid 2px $color-button-IV;
}

.theme-light {
  .default-button {
    border: solid 2px $color-button-III-light;

    &:hover {
      box-shadow: 0 0 5px 2px $color-border-light;
    }
  }

  .default-button--function { 
    color: $color-button-II-light;
    background: $color-button-III-light;
    border: solid 2px $color-button-III-light;
  }
  
  .default-button--number { 
    color: $color-border-light;
    background: $color-button-IV-light;
    border: solid 2px $color-button-IV-light;
  }
}

