@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
  font-size: $font-size;
  color: $color-font-screen;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-container;
}

.delay {
  .container {
    transition: .5s;
    * {
      transition: .5s;
    }
  }
}

.calculator {
  background: $color-keypad-bg;
  border-radius: 30px;
  padding: 18px 15px;
}

.theme-light {
  * {
    color: $color-font-screen-light;
  }

  .container {
    background: $color-container-light;
  }

  .calculator {
    background: $color-keypad-bg-light;
  }
}