@import '../../../variables.scss';

input {
  padding: 10px;
  border: none;
  background: $color-screen-bg;
  max-width: 240px;
  font-size: 24pt;
  text-align: right;
  outline: none;
  color: $color-font-screen;
}

.theme-light {
  input {
    background: $color-screen-bg-light;
    color: $color-font-screen-light;
  }
}
